.react-calendar {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  background-color: transparent;
  font-family: monospace;
}
.react-calendar__tile--active{
  background-color: rgb(255, 255, 255);
  color: black;
}

.calContainer {
  display: flex;
  margin: auto;
  justify-content: center;
}

abbr[title] {
  all: unset !important;
}

@media screen and (max-width: 768px) {
  .calContainer {
    width: 80%;
  }
}
