.botContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}

.calorie-bot {
    width: 50%;
}

.calModal {
    font-size:large;
}

/* .css-1kzo9wa {
    width: 20% !important;
    margin: auto !important;
}

.css-r13beu-MuiGrid-root {
    font-size: 1.5rem !important;
}

.css-zjhuaj-MuiGrid-root div {
    flex: 1 !important;
}

.css-15bfe7d-MuiGrid-root {
    align-self: center !important;
    text-align: center !important;
}

@media screen and (max-width: 768px) {
    .css-1kzo9wa {
        width: 50% !important;
    }
} */
