.infoContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
  padding: 2rem;
  gap: 1rem;
}

.infoContainer label {
  font-size: 0.8rem;
  margin: 0.5rem;
}

.info {
  display: flex;
  align-items: center;
}

.info div {
  font-weight: 600;
}

.calorie-history-container, .calorie-history-container-two {
  margin: 2rem;
}

.selected-day-entries {
  margin: 2rem;
}

abbr[title] {
  all: unset;
}

.food-table-container {
  margin: 1rem auto;
  width: 60% !important;
  overflow-x: scroll;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.MuiTableHead-root {
  background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.MuiTableCell-head {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.MuiTableCell-body {
  font-size: 0.95rem;
}

.chartContainer {
  width: 60%;
  margin: auto;
  position:"relative";
  padding:"10px"
}

@media screen and (max-width: 768px) {
  .food-table-container {
    width: 100% !important;
  }

   .calorie-history-container, .selected-day-entries {
      margin: 0.5rem;
   }

   .infoContainer {
      width: 80%;
   }

   .chartContainer {
      width: 100%;
      margin: auto;
   }
}