.navbar {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar > ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    max-width: 1000px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
    font-size: large;
    font-weight: 500;
}

.navbar a:hover {
    color: #4338ca;
    border-radius: 2px;
}