.App {
  text-align: center;
}

body {
  background-image: url('../public/bg.jpg') !important;
  background-repeat: repeat ;
  background-size: 5000px !important;
}

a{
  text-decoration: none;
  color: inherit;
}
