.App {
  text-align: center;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 5000px;
  filter: grayscale(100%);
  z-index: -1;
  pointer-events: none;
}

body {
  background-repeat: repeat;
  background-size: 5000px !important;
  /* background: var(--color-background); */
}

a {
  text-decoration: none;
  color: inherit;
}